# <font color='orange'> To use this notebook on Google Colaboratory, you will need to make a copy of it. Go to File > Save a copy in Drive. You can then use the new copy that will appear in the drive </font>

## **Python Basics for Data Science**

### Comments, Variables, and Printing

#### Comments

**Comments** are simple notes used in our code to provide explanatory information about our code. Used to explain complex code.

##### <font color="blue">Example</font>

##### <font color="blue"> Example 1 </font>

In [ ]:
# the following variable stores the value 57

score = 57

#### Variable

A **python variable** is a reserved memory location in a computer that can be used to store values. Used to temporarily store information before its executed.

##### <font color="blue">Examples</font>

##### <font color="blue"> Example 1 </font>

In [ ]:
# Example 1
# -------
# Assign the value 20 to a variable named age
# -------
# OUR CODE GOES BELOW
# -------
age = 20

##### <font color="blue"> Example 2 </font>

In [ ]:
# Example 2
# -------
# Again ! Let's assign the value "Mombasa" to a variable called city
# -------
# OUR CODE GOES BELOW
# -------
city = "Mombasa"

##### <font color="blue"> Example 3 </font>

In [ ]:
# Example 3
# -------
# One more time ! Let's assign a value that contains a list of fruits to a variable called favorite_fruits
# -------
# OUR CODE GOES BELOW
# -------
favorite_fruits = ['mangoes', 'apples', 'oranges', 'bananas']

#### Printing

The **print()** function prints the specified message to the screen. Used to reveal what is stored in a variable.

##### <font color="blue">Examples</font>

##### <font color="blue"> Example 1 </font>

In [ ]:
# Example 1
# -------
# Question : Print the text "Hello World" in the output console of this text
# -------
# OUR CODE GOES BELOW
# -------
print("Hello World!")

Hello World!

##### <font color="blue"> Example 2 </font>

In [ ]:
# Example 2
# -------
# Question : Print the text "Hello Amina" with a hyphen as a separator
# -------
# OUR CODE GOES BELOW
# -------
print("Hello", "Amina", sep = "-")

Hello-Amina

#### Arithmetic Operations

Uses **Arithmetic Operators** to perform calculations. Arithmetic Operators are a set of mathematical symbols or functions used in programming to perform calculations on one or more values.

##### <font color="blue">Examples</font>

##### <font color="blue"> Example 1 </font>

In [ ]:
# Example 1
# --------
# Declare our variables

a = 90

b = 10

# Addition

c = a + b

# print out the results

print(c)

100

##### <font color="blue"> Example 2</font>

In [ ]:
# Example 2
# -------
# We can perform a division operation below
# -------
d = a / b

# print out  the results

print(d)

9.0

#### Data Types

A **data type** is a classification that allows an individual to specify which type of value a variable contains. It defines the operations that can be done on the data and how the data can be stored.

- **Integer** value is a whole number which can either be positive or negative i.e -55 or 80

- **String** value is a sequence of characters. Strings are contained in either single or double quotes i.e "Jane" or 'Zahra'

- **Float** value is a whole number with a floating-point presentation i.e 55.60 or 20.45

##### <font color="blue">Examples</font>

##### <font color="blue">Example 1</font>

In [ ]:
# Example 1
# -------
# Dynamically-inferred data types
# -------

# integer data type

x = 50

print(type(x))

# string data type

planet = "Earth"

print(type(planet))

# float data type

y = 90.00

print(type(y))

<class 'int'>
<class 'str'>
<class 'float'>

##### <font color="blue">Example 2</font>

In [ ]:
# Example 2
# -------
# Adding a value of integer data type to a value of string data type

x = 30

y = '10'

# convert the string value stored in variable y to an integer using int()
# then, add the integer value in x to the result
# print out the result

print(x + int(y))

40

##### <font color="blue">Example 3</font>

In [ ]:
# Example 3
# -------
# Dividing integers results to a float
# -------

a = 40
b = 5

print(a/b)
print(b/a)

8.0
0.125

#### Lists

A **list** is a compound data type that allows for the storage of items of different data types. We use lists to store a set of related data.

##### <font color="blue">Examples</font>

##### <font color="blue">Example 1 </font>

In [ ]:
# Example 1
# -------
# Question : Create a list named fish and store it with values of different types of fish
# ------
# Defining our list
# -------
fish = ['salmon', 'starfish', 'tilapia', 'sword fish']

# print the results

print(fish)

['salmon', 'starfish', 'tilapia', 'sword fish']

##### <font color="blue">Example 2</font>

In [ ]:
# Example 2
# -------
# Question : Add elements to a list
# -------
# Adding the fish "gold fish" to our fish list

fish.append('gold fish')

# print out the result

print(fish)

['salmon', 'starfish', 'tilapia', 'sword fish', 'gold fish']

##### <font color="blue">Example 3</font>

In [ ]:
# Example 3
# -------
# Question : Updating an element in a list
# -------
fish[2] = 'nile perch'

# print out the result
print(fish)

['salmon', 'starfish', 'nile perch', 'sword fish', 'gold fish']

##### <font color="blue">Example 4</font>

In [ ]:
# Example 4
# -------
# Question : Remove an element from a list
# ----
fish.remove('salmon')

# print out the result

print(fish)

['starfish', 'nile perch', 'sword fish', 'gold fish']

##### <font color="blue">Example 5</font>

In [ ]:
# Example 5
# -------
# Question : Slice the restaurant list to fetch specific elements in a list
# -------
# Getting the first element in the list shown below

print(fish[0])

# Getting the first two elements in the list shown below

print(fish[0:2])

starfish
['starfish', 'nile perch']

#### Sets

A **python set** is an unordered collection of data types that has no duplicate elements.

##### <font color="blue">Examples</font>

##### <font color="blue">Example 1</font>

In [ ]:
# Example 1
# -------
# create a set of planets
# add planet Jupiter to the set twice
# -------

planets = {'mercury', 'jupiter', 'earth', 'mars', 'uranus', 'pluto', 'jupiter'} # a set is denoted by curly brackets

# call the variable planets

planets

{'earth', 'jupiter', 'mars', 'mercury', 'pluto', 'uranus'}

*Notice that planet jupiter only appears once in the output!*

##### <font color="blue">Example 2</font>

In [ ]:
# Example 2
# -------
# let's create another set of MCU movies
# add black widow to the set twice
# -------

mcu_movie_collection = {'captain america', 'ant man', 'black widow', 'spider man', 'hawkeye', 'black widow'}

# call the variable mcu_movie_collection

mcu_movie_collection

{'ant man', 'black widow', 'captain america', 'hawkeye', 'spider man'}

*Note: To create an empty set, you have to use the function `set()`, not `{}`, the latter creates an empty dictionary.*

#### Tuples

A **python tuple** is a collection of python objects separated by a comma.Once the elements in a tuple are formed they cannot be changed or modified.

##### <font color="blue">Examples</font>

##### <font color="blue">Example 1 </font>

In [ ]:
# Example 1
# -------
# Go ahead and create a tuple that contains a list of the big five animals
# -------
big_five = ('lion', 'leopard', 'elephant','rhino', 'buffalo')

# check the data type

type(big_five)

tuple

##### <font color="blue">Example 2</font>

In [ ]:
# Example 2
# ------
# Let's try to change the second element in the tuple to  cheetah
# Remember python starts counting from 0
# And so the second element in the tuple is leopard

big_five[1] = 'cheetah'

TypeError: ignored

***The type error occurs because a python tuple is an immutable python object, to mean no changes can be made to it***

#### Conditional (If) Statements

**Conditional Statements** are used for decision making. They will run code if only a statement is true. In general, we use conditional statements to execute a certain part of code if a condition is satisfied

##### <font color="blue">Examples</font>

##### <font color="blue">Example 1</font>

In [ ]:
# Example 1
# -------
# How do we use the If Key word ?
# -------
# We first declare our variables

a = 40

b = 60

# The we use the keyword as follows (We need to watchout for the white spaces)

if a < b:
  print('a is less than b')

a is less than b

##### <font color="blue">Example 2</font>

In [ ]:
# Example 2
# -------
# Question : How can we use the Elif statement
# -------
r = 100
s = 100

p = 500
q = 100

if s < r :
  if q < r :
    print('y is less than x')
elif r == s:
  print("r and s are equal")

r and s are equal

##### <font color="blue">Example 3</font>

In [ ]:
# Example 3
# -------
# How can we use the Else keyword
# -------
# Let's go ahead and declare our variables

a = 150

b = 50

if b > a :
  print("b is greater than a")
elif a == b :
  print("a is equal to b")
else :
  print('b is less than a')

b is less than a

#### For Loops

A **for loop** in python is primarily used for going through elements of a list one by one. They can also iterate over other sequence such as dictionary, string etc.

##### <font color="blue">Examples</font>

##### <font color="blue">Example 1</font>

In [ ]:
# Example 1
# -------
# Question : Use a For Loop to print out each restaurant in your area
# -------
# Create a list of restaurants
# Assign the list to variable restaurants

restaurants = ["Java", "Kempinsky", "Nairobi's Kitchen", "Big Fish"]

# Use a for loop to print each restaurant

for restaurant in restaurants:
  print(restaurant)

Java
Kempinsky
Nairobi's Kitchen
Big Fish

##### <font color="blue">Example 2</font>

In [ ]:
# Example 2
# -------
# Question : Use a For Loop to print out each letter in a word
# -------
# Create a variable named dairy cow which stores a string that contains the name of a dairy cow

dairy_cow = 'Freshian'
for letter in dairy_cow:
  print(letter)

F
r
e
s
h
i
a
n

#### Functions

A **function** is a block of organized, reusable code. We use functions to bundle a set of instructions that you want to use repeatedly.

##### <font color="blue">Example 1</font>

In [ ]:
# Example 1
# -------
# Let's use built-in functions
# -------
# YOUR CODE GOES BELOW
# -------

# The max() function will return the item with the highest value as shown
# in the given list

a = [23, 22, 55, 23, 44]
x = max(a)
print(x)

# Using the max() function, we can return the item with the highest value alphabetically

y = max(["Joshua", "Grace", "Simon"])
print(y)

55
Simon

**[You Can Click Here To Get A List Of Python Built-In Functions](https://www.w3schools.com/python/python_ref_functions.asp)**

##### <font color="blue">Example 2</font>

In [ ]:
# Example 2
# ------
# Let's create a function to find out which of two numbers is greater than the other
# ------
# YOUR CODE GOES BELOW

# we define it by giving it the name max_of_two
def max_of_two():

  # we then define our variables that will contain the numbers to be manipulated
  first_number  = 10
  second_number = 5

  # then we perform our operations i.e. in this case,
  # if first_number is greater than second_number etc.
  if first_number > second_number:

      # the return keyword allows us to provide back the result/output of our function
    return first_number

    # the return key word allows us to provide back the result/output of our function
  return second_number

# Lastly, we do the most important step; which is to call the function that
# we have just created above. Calling allows us to use the function.
# We have also been calling our built-in functions from the previous section.

max_of_two()

10

#### Data Structures

**Data Structures** are the fundamental constructs around which you build your programs. They are a specialized means of organizing and storing data in computers in such a way that we can perform operations on the data more efficiently.

- **Mutable Data Structures** are those data structures we can modify by adding, removing and making changes to their elements e.g list, dictionary, set
- **Immutable Data Structures** are those we cannot modify after creation e.g tuple